body {
  background-image: url(https://images.pexels.com/photos/3953962/pexels-photo-3953962.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
  height: 100vh;
}
.head {
  width: 100%;
  height: 72px;
  display: flex;
  background-color: white;
  position: fixed;
  z-index: 1000;
}
.ptd {
  display: flex;
  align-items: center;
  width: 100%;
  height: 76px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 34px;
  margin-right: 34px;
}
.outter {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1168px;
}
.inner {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  margin-top: 65px;
  min-width: 100%;
  width: 950px;
  max-width: 100%;
}
.display {
  width: 712px;
  height: 384px;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
}
.first {
  width: 206px;
  height: 384px;
  background-color: white;
  position: relative;
}
.cards {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: space-between;
  width: 218px;
  height: 384px;
}
.firstinner {
  display: flex;
  flex-wrap: wrap;
  height: 384px;
  position: absolute;
  flex-direction: column;
  gap: 7px;
}
.xxl {
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  padding-top: 8px;
  padding-bottom: 8px;
}

.xxl1,
.xxl2 {
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  padding-top: 8px;
  padding-bottom: 8px;
}
.xxl4 {
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  padding-top: 8px;
  padding-bottom: 8px;
}
.cardsec {
  width: 934px;
  height: 389px;
}
.cardoh {
  width: 100%;
  background-color: white;
}
.cardoh img {
  object-fit: cover;
}
.cardth {
  width: 100%;
  background-color: white;
}
.cardth img {
  object-fit: cover;
}
.cardth1 {
  width: 100%;
  background-color: white;
}
.cardth1 img {
  object-fit: cover;
}
.disect,
.disect1 {
  /* width: 1168px; */
  height: 48px;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testing {
  display: flex;
  align-items: center;
}
.bisect {
  padding: 0px 4px;
  height: 307px;
}
.tfu {
  display: flex;
  width: 194px;
  height: 300px;
  padding: 4px;
  transition: all 0.2s ease;
}
.tfu:hover {
  box-shadow: 0 0 5px 2px #23232333;
  transform: scale(1.01);
}
.onward {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 4px 0px;
  height: 307px;
}
.onward::-webkit-scrollbar {
  display: none;
}
.downward {
  display: flex;
  height: 209px;
  padding: 4px 4px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.downward::-webkit-scrollbar {
  display: none;
}
.lockd {
  width: 155px;
  height: 193px;
}
.lockd1 {
  width: 145px;
  height: 145px;
}
.imglock,
.imglock0 {
  width: 155px;
  height: 193px;
  border-radius: 6px;
}

.imglock1 {
  width: 150px;
  height: 150px;
}
.dond {
  display: flex;
  flex-direction: column;
  width: 184px;
  height: 297px;
  padding: 4px;
  text-decoration-line: none;
  color: black;
  margin: 4px;
}
.donb,
.donb5 {
  width: 155px;
  height: 194px;
  text-decoration-line: none;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 4px;
}
.donb,
.donb5:hover {
  box-shadow: 0 0 5px 2px #23232333;
  transform: scale(1.01);
}
.donb1,
.donb2 {
  width: 155px;
  height: 194px;
  margin: 4px;
  color: black;
  display: flex;
  flex-direction: column;
  text-decoration-line: none;
}
.donb1,
.donb2:hover {
  box-shadow: 0 0 5px 2px #23232333;
  transform: scale(1.01);
}
.dirt {
  height: 12px;
}
.subtext {
  font-size: 14px;
  width: 129px;
  height: 18px;
  text-align: center;
  margin: 8px;
}
.dimg {
  width: 100%;
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.iimg {
  width: 176px;
  height: 257px;
}
.crs {
  display: flex;
  overflow-x: auto;
  height: auto;
  padding: 0 0 5px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hazel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.zeal {
  display: flex;
  align-items: center;
}
.cc1 {
  display: flex;
  width: 222px;
  height: 30px;
  padding: 0px 16px;
}
.cc2 {
  width: 620px;
  height: 40px;
  padding: 0px 8px;
  display: flex;
}

.cc3 {
  display: flex;
  width: 320px;
  height: 44px;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.cc4 {
  position: relative;
  display: flex;
}
.cc9 {
  position: relative;
  display: flex;
}
.c6 {
  position: absolute;
  top: 0px;
  left: -25px;
  height: 24px;
}
.c00 {
  position: absolute;
  top: 0px;
  left: -25px;
  height: 24px;
}

.ff2 {
  height: 24px;
}

.hh2 {
  height: 18px;
}
.hmo {
  margin-top: 0px;
  margin-bottom: 16px;
}
.outter-space {
  padding-top: 16px;
  padding-bottom: 16px;

  margin-left: 39.6px;
  margin-right: 39.6px;
  width: 1184px;
}
.jfk {
  width: 712px;
  height: 384px;
}
.xyz {
  width: 712px;
  height: 384px;
}
.space {
  width: 100%;
  max-width: 600px;
  min-width: 150px;
  height: 40px;

  color: rgb(49, 49, 51);
  cursor: text;
  position: relative;
  padding-left: 50px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 400;
  font-family: arial;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  border-width: 0.6667px;
  border-style: solid;
  border-color: rgb(163, 163, 166);

  border-radius: 2px;
}

.search-icon {
  position: absolute;
  height: 24px;
  margin: 0px 8px;
  top: 25px;
  left: auto;
}
.first-row {
  display: flex;

  justify-content: space-between;
  width: 1184px;
  height: 384px;
  margin-top: 60px;
  padding: 0px 8px 0px 8px;
}
.positioning {
  width: 206px;
  height: 384px;
  background-color: white;
  position: relative;
}
.postb {
  position: absolute;
  top: 10px;
  left: 5px;
  display: flex;
  flex-direction: column;

  gap: 7px;
}
.imagegif {
  width: 712px;
  height: 384px;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
}
.taxes {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: space-between;
  width: 218px;
  height: 384px;
}
.cut {
  width: 218px;
  height: 184px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}
.pay {
  width: 218px;
  height: 184px;
}
.cont {
  width: 1184px;
  height: 453px;
  font-size: 14px;
}
.option {
  width: 83px;
  height: 40px;
  flex-shrink: 0;
  padding: 12px 16px 12px 16px;
  margin-left: 8px;
  text-align: center;
  color: white;
  background-color: rgb(246, 139, 30);
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.option2 {
  width: 174px;
  height: 40px;
  color: white;
  background-color: rgb(246, 139, 30);
  font-size: 14px;

  border: none;
  font-weight: 700;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.option3 {
  width: 174px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(246, 139, 30);

  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.option3:hover {
  background-color: rgb(201, 107, 13);
  transition: 0.2s;
}
.option:hover {
  background-color: rgb(201, 107, 13);
  transition: 0.2s;
}
.line {
  color: black;
  text-decoration-line: none;
}

.fog {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ffs {
  font-size: 20px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.hh0 {
  border: none;
  width: 934px;
  height: 48px;
  padding: 0px 16px;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: white;
}
.oh1 {
  display: flex;
  align-content: center;
}
.just {
  color: white;
  text-decoration-line: none;
}
.just1 {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: none;
}
.dont {
  text-decoration-line: none;
  color: black;
  margin: 4px;
}
.dont0 {
  text-decoration-line: none;
  color: black;
  margin: 0;
}
.flashsale {
  height: 20px;
  margin-right: 8px;
}
.fmt {
  font-size: 16px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.size {
  font-size: 20px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}
.wtf {
  width: 184px;
  height: 218px;
  border: none;
  transition: all 0.2s ease;
}
.wtf:hover {
  box-shadow: 0 0 5px 2px #23232333;
  transform: scale(1.01);
}
.wtg {
  max-width: 184px;
  height: 218px;
  border: none;
  transition: all 0.2s ease;
}

.wtg:hover {
  transform: scale(1.01);
}
.card-title {
  text-align: center;
}
.card-title0 {
  text-align: center;
}

.row-c {
  background-color: white;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: center;
  flex-wrap: wrap;

  padding: 4px 8px;
}
.cardx {
  max-width: 950px;
}

.hh6 {
  width: 184px;
  height: 184px;
}

.flse {
  padding: 0 13px 0 13px;
}
.crdim {
  object-fit: cover;
  height: 50%;
}
.tpmcd {
  width: 100%;
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.outline {
  padding-left: 8px;
  text-decoration-line: none;
  color: black;
}
.outline:hover {
  color: rgb(246, 139, 30);
  transition: 0.2s;
}
.fort {
  font-size: 12px;
}
.fork {
  font-size: 14px;
  font-weight: 500;
  margin-left: 28px;
  color: black;
}
.fit {
  font-size: 12px;
  margin-left: 28px;
  margin-top: 0;
  color: black;
}
.ff9 {
  z-index: 1;
  padding: 0px 48px;
}
.crdbd {
  font-size: 0;
  padding: 0;
}

.cdtxt {
  font-size: 14px;
  padding-left: 4px;
  margin: 0;
  width: 150px;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.cdamt {
  font-size: 16px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 8px;
  margin: 0;
}
.cdnt {
  text-decoration: line-through solid;
  text-decoration-color: rgb(117, 117, 122);
  font-size: 12px;
  font-weight: 400;
  color: rgb(117, 117, 122);
  padding-left: 4px;
}

.codiv {
  padding: 0 0 5px 0;
}

.webgif div {
  width: 32.8%;
}

.webgif img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.webgif div:hover {
  transform: scale(1.01);
}
.webgif1 div {
  width: 49.6%;
}

.webgif1 img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.webgif1 div:hover {
  transform: scale(1.01);
}
.pbm {
  width: 100%;
  height: 790.38px;
  background-color: #535357;
  padding-bottom: 16px;
  font-size: 12px;
  max-width: 100%;
}
.bgcolor {
  background-color: #313133;
  width: 100%;
  height: 234.38px;
  margin-bottom: 16px;
  font-size: 12px;
  max-width: 100%;
}
.row-pt {
  display: flex;
  margin-left: 39.6px;
  margin-right: 39.6px;
  flex: 0 1 auto;
  padding-top: 24px;

  flex-basis: auto;
}
.nft {
  padding-left: 8px;
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
  padding-right: 8px;
}
.nft2 {
  display: flex;
  flex-direction: column;
  width: 40.75%;
  min-width: 40.75%;
  max-width: 40.75%;
  flex-basis: 40.75%;
  font-size: 0.75rem;
  padding-left: 8px;
  padding-right: 8px;
}
.nft3 {
  font-size: 0.75rem;
  padding-left: 8px;
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  margin-left: auto;
  padding-right: 8px;
}
.nice {
  color: white;
  font-size: 12px;
}
.indice {
  font-size: 12px;
  padding-bottom: 8px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.form8 {
  padding-top: 8px;
}
.ripple {
  display: flex;
  flex-direction: row;
}
.ripple1 {
  position: relative;
  padding-top: 8px;
}
.mailbox {
  position: absolute;
  top: 22px;
  left: 8px;
  height: 24px;
}
.fill {
  width: 202px;
  height: 48px;
  padding: 14px 16px 14px 48px;
}
.rags {
  display: flex;
  flex-direction: row;

  padding: 8px 0px 8px 4px;
}
.dogs {
  background-color: rgb(0, 0, 0, 0);
  margin: 8px;
  border-radius: 4px;
  padding: 14px 24px;
  border-color: rgb(255, 255, 255);
  border-width: 0.666667px;
  border-style: solid;
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.dogs:hover {
  border-color: #f68b1e;
  color: #f68b1e;
}

.noni {
  position: relative;
  padding: 8px 0px 0px 32px;
  font-size: 0px;
  min-height: auto;
}
.tick {
  position: absolute;
  left: 4px;
  top: 12px;
}
.termi {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #a3a3a6;
  min-height: 24px;
}
.omg {
  margin-bottom: 24px;
  line-height: 16.8px;
}
.here {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration-line: none;
  color: #f68b1e;
}
.jpg {
  display: flex;
}
.log-jpg {
  height: 40px;
  border-radius: 6px;
}
.nice1 {
  color: white;
  font-size: 12px;
  padding-left: 16px;
}
.chase {
  display: flex;
  padding-top: 8px;
  font-size: 0;
}
.dip {
  height: 22px;
}
.row-bt {
  margin-left: 39.6px;
  margin-right: 39.6px;
  display: flex;
  flex-direction: row;
  height: 362px;
  padding-bottom: 24px;
}
.cols-1 {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 296px;
  height: 338px;
}
.cols-1k {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 296px;
  height: 338px;
}
.cols-1z {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 296px;
  height: 338px;
}
.cols-1p {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 296px;
  height: 338px;
}

.cols-12 {
  display: flex;

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 255.5px;
  height: 338px;
}
.cols-2 {
  width: 237px;
  height: 42px;
}
.cols-3 {
  width: 712px;
  height: 41px;
}
.spite {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;

  color: rgb(255, 255, 255);
  padding-bottom: 16px;
}

.chat {
  background-color: rgb(0, 0, 0, 0);
  padding: 0px 0px 4px 0px;
  border-style: none;
  border-width: 0px;
  text-align: left;
  color: white;
  font-size: 13.33px;
  padding-bottom: 4px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.rotten,
.rotten4 {
  text-align: left;
  list-style: none;
  font-size: 12px;
  width: 221px;
  height: 40px;
  margin: 0;
  padding: 0;
}
.rotten1 {
  width: 72px;
  height: 100px;
  padding: 0px 8px;
  list-style: none;
}

.rot,
.rot1 {
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
}
.rota {
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
}
.rotb {
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
}
.rotc {
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
}
.rotz {
  display: none;
}
.spite1 {
  font-size: 12px;
  width: 231;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;

  padding-bottom: 16px;
}

.country {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0px 8px;
  list-style: none;
  text-align: left;
  font-size: 12px;

  width: 221px;
  height: 40px;
}
.row-it {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 8px 0px;
}

.row-ct {
  margin-left: 31px;
  margin-right: 31px;
  display: flex;

  flex-direction: row;
  padding-bottom: 24px;
}
.join {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 16px;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: white;
}
.doc {
  padding: 8px;
}

.cold {
  font-size: 0px;
}
.tap {
  height: 26px;
}
.tap:hover {
  fill: #f68b1e;
}
.row-dt {
  margin-left: 31px;
  margin-right: 31px;
  margin-top: 30px;
  padding-top: 15px;
  height: 40px;
}
.line {
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}
.tip {
  display: flex;
  justify-content: center;
}
.tcp {
  height: 20px;
}
.contd {
  font-size: 16px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (max-width: 1200px) {
  .cards {
    display: none;
  }
  .outter {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
  }
  .ptd {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .inner {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
  }
  .first {
    flex-shrink: 0;
    display: flex;
    width: 206px;
    height: 384px;
  }
  .xxl {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    padding: 8px;
  }
  .xxl1,
  .xxl2 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-basis: 100%;
    padding: 8px;
  }
  .xxl4 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-basis: 100%;
    padding: 8px;
  }
}
@media (min-width: 431px) and (max-width: 950px) {
  .pbm {
    width: 100%;
    max-width: 100%;
    height: 180px;
    padding-bottom: 8px;
  }
  .ptd {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
  }
  .search-icon {
    right: 98px;
  }
  .space {
    display: none;
  }
  .c6 {
    top: -9px;
    height: 24px;
    left: -37px;
  }
  .cc2 {
    height: 40px;
    width: 0;
  }
  .cc3 {
    max-width: 100px;
  }
  .contd {
    display: none;
  }
  .option {
    display: none;
  }
  .cc9 {
    display: none;
  }
  .outter {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
  }
  .bgcolor {
    width: 100%;
    max-width: 100%;
    height: 15px;
    margin: 0;
    position: relative;
  }
  .row-ct,
  .row-pt {
    display: none;
  }
  .first {
    display: none;
  }
  .display {
    margin: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
  .xyz {
    width: 100%;
    max-width: 100%;
  }
  .jfk {
    width: 100%;
    max-width: 100%;
  }
  .row-bt {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 135px;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  .row-dt {
    margin-top: 75px;
  }
  .cols-1p,
  .cols-1z,
  .rot1,
  .join {
    display: none;
  }
  .cols-1k {
    font-size: 0.75rem;
    height: 70px;
    width: 170px;
  }
  .rotten4,
  .spite1,
  .spite {
    display: none;
  }
  .cols-1 {
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
  }
  .rotten {
    max-width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  .fog {
    font-size: 16px;
  }
  .ffs {
    font-size: 14px;
  }
}

@media (max-width: 430px) {
  .cards {
    display: none;
  }
  .ptd {
    width: 100%;
    max-width: 100%;
    height: 72px;
    display: flex;
    margin: 0;
    justify-content: space-between;
  }
  .ff2 {
    height: 24px;
    margin: 4px;
    padding: 4px;
  }
  .space {
    display: none;
  }
  .option {
    display: none;
  }
  .contd {
    display: none;
  }
  .c6 {
    top: -9px;
    height: 24px;
    left: -42px;
  }

  .search-icon {
    right: 87px;
  }
  .cc9 {
    display: none;
  }

  .cc1 {
    width: 184px;
  }
  .cc2 {
    width: 0;
    height: 40px;
  }
  .cc3 {
    width: 100px;
  }

  .inner {
    padding: 8px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-basis: 100%;
  }
  .outter {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
  }
  .first {
    display: none;
  }
  .downward {
    width: 100%;
    max-width: 100%;
    height: 145px;
    display: flex;
  }
  .display {
    width: 100%;
    max-width: 100%;
    height: 156px;
    margin: 0;
  }
  .jfk {
    width: 100%;
    max-width: 100%;
    height: 156px;
  }

  .xyz {
    width: 100%;
    max-width: 100%;
    height: 156px;
  }
  .xxl {
    max-width: 100%;
    min-width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
  }
  .xxl1,
  .xxl2 {
    max-width: 100%;
    min-width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
  }
  .xxl4 {
    max-width: 100%;
    min-width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
  }
  .cardth1 {
    width: 100%;
    max-width: 100%;
    height: 145px;
  }
  .cardth {
    width: 100%;
    max-width: 100%;
    height: 145px;
  }
  .cardoh {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .donb5 {
    width: 100%;
    max-width: 100%;
    height: 100px;
    margin: 0;
    padding: 4px;
  }

  .donb2 {
    width: 100%;
    max-width: 100%;

    height: 125px;
    padding: 4px;
  }
  .imglock {
    width: 100%;
    max-width: 100%;

    height: 82px;
  }

  .imglock1 {
    width: 100%;
    max-width: 100%;

    height: 82px;
  }
  .lockd {
    width: 100%;
    max-width: 100%;

    height: 127px;
  }
  .lockd1 {
    width: 100%;
    max-width: 100%;
    height: 127px;
  }
  .subtext {
    width: 77px;
    height: 30px;
    font-size: 12px;
    margin: 4px;
    text-align: center;
  }
  .disect {
    width: 100%;
    max-width: 100%;
    height: 44px;
    padding: 0px 4px;
  }
  .disect1 {
    width: 100%;
    max-width: 100%;
    height: 34px;
    padding: 0px 8px;
  }
  .bisect {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
  }
  .eject {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
  }
  .onward {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .iimg {
    width: 100%;
    max-width: 100%;
    height: 85px;
  }
  .tfu {
    width: 100%;
    max-width: 100%;

    height: 140px;
    padding: 0;
  }
  .dond {
    width: 120px;
    height: 140px;
    margin: 0;
  }
  .cardoh {
    width: 100%;
    max-width: 100%;

    height: auto;
  }

  .testing {
    width: 110px;
    height: 20px;
  }
  .size {
    font-size: 14px;
  }
  .flashsale {
    height: 22px;
    margin: 0;
  }
  .fog {
    font-size: 12px;
  }
  .ffs {
    font-size: 11px;
  }
  .yog {
    width: 170px;
    height: 20px;
    display: flex;
    margin-right: 4px;
    justify-content: center;
  }
  .yoga {
    width: 70px;
    height: 20px;
    display: flex;
    align-items: center;
  }
  .iimg {
    width: 82px;
    height: 82px;
  }
  .cdtxt {
    font-size: 8px;
    margin-top: 4px;
  }
  .cdamt {
    font-size: 10px;
  }
  .cdnt {
    font-size: 9px;
    margin-bottom: 8px;
  }
  .nft,
  .nft2,
  .nft3 {
    display: none;
  }
  .pbm {
    width: 100%;
    max-width: 100%;
    height: 150px;
    padding-bottom: 8px;
  }
  .bgcolor {
    width: 100%;
    max-width: 100%;
    height: 10px;
    margin: 0;
    position: relative;
  }
  .row-bt {
    width: 310px;
    height: 28px;
    position: absolute;
    left: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 18px;
    margin-right: 18px;
  }
  .row-dt {
    width: 100%;
    max-width: 100%;
    height: 10px;
    margin: 0;
  }
  .tip {
    width: 100%;
    max-width: 100%;
    height: 16px;
  }
  .tcp {
    margin-top: -10px;
  }
  .line {
    margin-top: 80px;
  }

  .cols-1 {
    width: 120px;
    height: 80px;
    display: flex;
    text-align: start;
    padding: 0;
  }
  .cols-1k {
    width: 120px;
    height: 80px;
    padding: 0;
  }
  .row-ct,
  .row-pt {
    display: none;
  }
  .cold,
  .spite,
  .join,
  .spite1 {
    display: none;
  }
  .cols-1p,
  .cols-1z,
  .rotten4,
  .rot1 {
    display: none;
  }
  .rotten {
    font-size: 12px;
    width: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .just1 {
    font-size: 12px;
  }
}
