/* body {
  background-image: url(https://images.pexels.com/photos/3953962/pexels-photo-3953962.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
  height: 100vh;
} */
body {
  background-color: #f1f1f2;
  font-family: "Roboto";
}
.head {
  width: 100%;
  height: 72px;
  display: flex;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.ptd {
  display: flex;
  align-items: center;
  width: 100%;
  height: 76px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 34px;
  margin-right: 34px;
}
.outter {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1168px;
}
.outter1 {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 1168px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.inner {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  min-width: 100%;
  width: 950px;
  max-width: 100%;
}
.inner1 {
  max-width: 100%;
  min-width: 100%;
  max-width: 950px;
  display: flex;
  flex-direction: column;
}
.display {
  width: 712px;
  height: 384px;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
}
.first {
  width: 206px;
  height: 384px;
  background-color: white;
  position: relative;
}
.cards {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: space-between;
  width: 218px;
  height: 384px;
}
.firstinner {
  display: flex;
  flex-wrap: wrap;
  height: 384px;
  position: absolute;
  flex-direction: column;
  gap: 7px;
}
.xxl {
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  padding-top: 8px;
  padding-bottom: 8px;
}
.xxl-row {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  text-align: center;
  position: relative;
}

.xxl1,
.xxl2 {
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  padding-top: 8px;
  padding-bottom: 8px;
}
.xxl4 {
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  padding-top: 8px;
  padding-bottom: 8px;
}
.cardsec {
  width: 934px;
  height: 389px;
}
.cardoh {
  width: 100%;
  background-color: white;
}
.cardoh img {
  object-fit: cover;
}
.cardth {
  width: 100%;
  background-color: white;
}
.cardth img {
  object-fit: cover;
}
.cardth1 {
  width: 100%;
  background-color: white;
}
.cardth1 img {
  object-fit: cover;
}
.disect,
.disect1 {
  /* width: 1168px; */
  height: 48px;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testing {
  display: flex;
  align-items: center;
}
.bisect {
  padding: 0px 4px;
  height: 307px;
}
.tfu {
  display: flex;
  width: 194px;
  height: 300px;
  padding: 4px;
  transition: all 0.2s ease;
}
.tfu:hover {
  box-shadow: 0 0 5px 2px #23232333;
  transform: scale(1.01);
}
.onward {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 4px 0px;
  height: 307px;
}
.onward::-webkit-scrollbar {
  display: none;
}
.downward {
  display: flex;
  height: 209px;
  padding: 4px 4px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.downward::-webkit-scrollbar {
  display: none;
}
.lockd {
  width: 155px;
  height: 193px;
}
.lockd1 {
  width: 145px;
  height: 145px;
}
.imglock,
.imglock0 {
  width: 155px;
  height: 193px;
  border-radius: 6px;
}

.imglock1 {
  width: 150px;
  height: 150px;
}
.dond {
  display: flex;
  flex-direction: column;
  width: 184px;
  height: 297px;
  padding: 4px;
  text-decoration-line: none;
  color: black;
  margin: 4px;
}
.donb,
.donb5 {
  width: 155px;
  height: 194px;
  text-decoration-line: none;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 4px;
}
.donb,
.donb5:hover {
  box-shadow: 0 0 5px 2px #23232333;
  transform: scale(1.01);
}
.donb1,
.donb2 {
  width: 155px;
  height: 194px;
  margin: 4px;
  color: black;
  display: flex;
  flex-direction: column;
  text-decoration-line: none;
}
.donb1,
.donb2:hover {
  box-shadow: 0 0 5px 2px #23232333;
  transform: scale(1.01);
}
.dirt {
  height: 12px;
}
.subtext {
  font-size: 14px;
  width: 129px;
  height: 18px;
  text-align: center;
  margin: 8px;
}
.dimg {
  width: 100%;
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.iimg {
  width: 176px;
  height: 257px;
}
.crs {
  display: flex;
  overflow-x: auto;
  height: auto;
  padding: 0 0 5px 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hazel {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.zeal {
  display: flex;
  align-items: center;
}
.cc1 {
  display: flex;
  width: 222px;
  height: 30px;
  padding: 0px 16px;
}
.cc2 {
  width: 620px;
  height: 40px;
  padding: 0px 8px;
  display: flex;
}

.cc3 {
  display: flex;
  width: 320px;
  height: 44px;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
.cc4 {
  position: relative;
  display: flex;
}
.cc9 {
  position: relative;
  display: flex;
}
.c6 {
  position: absolute;
  top: 0px;
  left: -25px;
  height: 24px;
}
.c00 {
  position: absolute;
  top: 0px;
  left: -25px;
  height: 24px;
}
.c300 {
  height: 24px;
  margin-right: 16px;
}
.tkout {
  background-color: transparent;
  width: 145px;
  border: none;
  padding: 0;
  height: 29px;
  margin: 6px 0px;
  height: 23px;
  color: rgb(246, 139, 30);
}

.glk350 {
  align-items: center;
  display: flex;
}
.es350 {
  text-decoration: none;
}
.forgotten {
  color: #e07e1b;
  font-size: 16px;
  font-weight: 500;
}
.ntxl {
  padding: 16px 0px;
}
.godl {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  max-width: 1148px;
  width: 100%;
  flex-wrap: wrap;
}

.godlt {
  display: none;
}
.fxl {
  width: 25%;
  padding: 32px 0px;
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}
.sxl {
  padding: 24px 0px;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}
.innxl {
  padding-top: 32px;
  text-align: left;
}
.hxl {
  padding-top: 24px;
  padding-bottom: 16px;
  font-weight: 700;
  margin: 0;
}
.bxl {
  padding: 8px;
  border-radius: 5px;
  background-color: #f68c1e;
  color: white;
  margin-top: 24px;
  border: none;
}
.hsxl {
  padding: 8px 0px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
}
.htxl {
  padding: 8px 0px;
  margin: 0;
  font-size: 15px;
  line-height: 21px;
}
.sxl {
  padding: 24px 8px;
  width: 50%;
  min-width: 50%;
  max-width: 50%;
  flex-basis: 50%;
}

.ff2 {
  height: 24px;
}

.hh2 {
  height: 18px;
}
.hmo {
  margin-top: 0px;
  margin-bottom: 16px;
}

.jfk {
  width: 712px;
  height: 384px;
}
.xyz {
  width: 712px;
  height: 384px;
}
.space {
  width: 100%;
  max-width: 600px;
  min-width: 150px;
  height: 40px;

  color: rgb(49, 49, 51);
  cursor: text;
  position: relative;
  padding-left: 50px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 400;
  font-family: arial;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  border-width: 0.6667px;
  border-style: solid;
  border-color: rgb(163, 163, 166);

  border-radius: 2px;
}

.search-icon {
  position: absolute;
  height: 24px;
  margin: 0px 8px;
  top: 25px;
  left: auto;
}
.first-row {
  display: flex;

  justify-content: space-between;
  width: 1184px;
  height: 384px;
  margin-top: 60px;
  padding: 0px 8px 0px 8px;
}
.positioning {
  width: 206px;
  height: 384px;
  background-color: white;
  position: relative;
}
.postb {
  position: absolute;
  top: 10px;
  left: 5px;
  display: flex;
  flex-direction: column;

  gap: 7px;
}
.imagegif {
  width: 712px;
  height: 384px;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
}
.taxes {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: space-between;
  width: 218px;
  height: 384px;
}
.cut {
  width: 218px;
  height: 184px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}
.pay {
  width: 218px;
  height: 184px;
}
.cont {
  width: 1184px;
  height: 453px;
  font-size: 14px;
}
.option {
  width: 83px;
  height: 40px;
  flex-shrink: 0;
  padding: 12px 16px 12px 16px;
  margin-left: 8px;
  text-align: center;
  color: white;
  background-color: rgb(246, 139, 30);
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.option2 {
  width: 174px;
  height: 40px;
  color: white;
  background-color: rgb(246, 139, 30);
  font-size: 14px;

  border: none;
  font-weight: 700;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.option3 {
  width: 174px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(246, 139, 30);

  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.option3:hover {
  background-color: rgb(201, 107, 13);
  transition: 0.2s;
}
.option:hover {
  background-color: rgb(201, 107, 13);
  transition: 0.2s;
}
.line {
  color: black;
  text-decoration-line: none;
}

.fog {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ffs {
  font-size: 20px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.hh0 {
  border: none;
  width: 934px;
  height: 48px;
  padding: 0px 16px;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-content: center;
  color: white;
}
.oh1 {
  display: flex;
  align-content: center;
}
.just {
  color: white;
  text-decoration-line: none;
}
.just1 {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: none;
}
.dont {
  text-decoration-line: none;
  color: black;
  margin: 4px;
}
.dont0 {
  text-decoration-line: none;
  color: black;
  margin: 0;
}
.flashsale {
  height: 20px;
  margin-right: 8px;
}
.fmt {
  font-size: 16px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.size {
  font-size: 20px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}
.wtf {
  width: 184px;
  height: 218px;
  border: none;
  transition: all 0.2s ease;
}
.wtf:hover {
  box-shadow: 0 0 5px 2px #23232333;
  transform: scale(1.01);
}
.wtg {
  max-width: 184px;
  height: 218px;
  border: none;
  transition: all 0.2s ease;
}

.wtg:hover {
  transform: scale(1.01);
}
.card-title {
  text-align: center;
}
.card-title0 {
  text-align: center;
}

.row-c {
  background-color: white;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: center;
  flex-wrap: wrap;

  padding: 4px 8px;
}
.cardx {
  max-width: 950px;
}

.hh6 {
  width: 184px;
  height: 184px;
}

.flse {
  padding: 0 13px 0 13px;
}
.crdim {
  object-fit: cover;
  height: 50%;
}
.tpmcd {
  width: 100%;
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.outline {
  padding-left: 8px;
  text-decoration-line: none;
  color: black;
}
.outline:hover {
  color: rgb(246, 139, 30);
  transition: 0.2s;
}
.fort {
  font-size: 12px;
}
.fork {
  font-size: 14px;
  font-weight: 500;
  margin-left: 28px;
  color: black;
}
.fit {
  font-size: 12px;
  margin-left: 28px;
  margin-top: 0;
  color: black;
}
.ff9 {
  z-index: 1;
  padding: 0px 48px;
}
.crdbd {
  font-size: 0;
  padding: 0;
}

.cdtxt {
  font-size: 14px;
  padding-left: 4px;
  margin: 0;
  width: 150px;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.cdamt {
  font-size: 16px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 4px;
  padding-top: 4px;
  padding-right: 8px;
  margin: 0;
}
.cdnt {
  text-decoration: line-through solid;
  text-decoration-color: rgb(117, 117, 122);
  font-size: 12px;
  font-weight: 400;
  color: rgb(117, 117, 122);
  padding-left: 4px;
}

.codiv {
  padding: 0 0 5px 0;
}

.webgif div {
  width: 32.8%;
}

.webgif img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.webgif div:hover {
  transform: scale(1.01);
}
.webgif1 div {
  width: 49.6%;
}

.webgif1 img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.webgif1 div:hover {
  transform: scale(1.01);
}
.pbm {
  width: 100%;
  height: 790.38px;
  background-color: #535357;
  padding-bottom: 16px;
  font-size: 12px;
  max-width: 100%;
}
.bgcolor {
  background-color: #313133;
  width: 100%;
  height: 234.38px;
  margin-bottom: 16px;
  font-size: 12px;
  max-width: 100%;
}
.row-pt {
  display: flex;
  margin-left: 39.6px;
  margin-right: 39.6px;
  flex: 0 1 auto;
  padding-top: 24px;

  flex-basis: auto;
}
.nft {
  padding-left: 8px;
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
  padding-right: 8px;
}
.nft2 {
  display: flex;
  flex-direction: column;
  width: 40.75%;
  min-width: 40.75%;
  max-width: 40.75%;
  flex-basis: 40.75%;
  font-size: 0.75rem;
  padding-left: 8px;
  padding-right: 8px;
}
.nft3 {
  font-size: 0.75rem;
  padding-left: 8px;
  width: 25%;
  max-width: 25%;
  min-width: 25%;
  margin-left: auto;
  padding-right: 8px;
}
.nice {
  color: white;
  font-size: 12px;
}
.indice {
  font-size: 12px;
  padding-bottom: 8px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.form8 {
  padding-top: 8px;
}
.ripple {
  display: flex;
  flex-direction: row;
}
.ripple1 {
  position: relative;
  padding-top: 8px;
}
.mailbox {
  position: absolute;
  top: 22px;
  left: 8px;
  height: 24px;
}
.fill {
  width: 202px;
  height: 48px;
  padding: 14px 16px 14px 48px;
}
.rags {
  display: flex;
  flex-direction: row;

  padding: 8px 0px 8px 4px;
}
.dogs {
  background-color: rgb(0, 0, 0, 0);
  margin: 8px;
  border-radius: 4px;
  padding: 14px 24px;
  border-color: rgb(255, 255, 255);
  border-width: 0.666667px;
  border-style: solid;
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.dogs:hover {
  border-color: #f68b1e;
  color: #f68b1e;
}

.noni {
  position: relative;
  padding: 8px 0px 0px 32px;
  font-size: 0px;
  min-height: auto;
}
.tick {
  position: absolute;
  left: 4px;
  top: 12px;
}
.termi {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #a3a3a6;
  min-height: 24px;
}
.omg {
  margin-bottom: 24px;
  line-height: 16.8px;
}
.here {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration-line: none;
  color: #f68b1e;
}
.jpg {
  display: flex;
}
.log-jpg {
  height: 40px;
  border-radius: 6px;
}
.nice1 {
  color: white;
  font-size: 12px;
  padding-left: 16px;
}
.chase {
  display: flex;
  padding-top: 8px;
  font-size: 0;
}
.dip {
  height: 22px;
}
.row-bt {
  margin-left: 39.6px;
  margin-right: 39.6px;
  display: flex;
  flex-direction: row;
  height: 362px;
  padding-bottom: 24px;
}
.cols-1 {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 296px;
  height: 338px;
}
.cols-1k {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 296px;
  height: 338px;
}
.cols-1z {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 296px;
  height: 338px;
}
.cols-1p {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 296px;
  height: 338px;
}

.cols-12 {
  display: flex;

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 255.5px;
  height: 338px;
}
.cols-2 {
  width: 237px;
  height: 42px;
}
.cols-3 {
  width: 712px;
  height: 41px;
}
.spite {
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;

  color: rgb(255, 255, 255);
  padding-bottom: 16px;
}

.chat {
  background-color: rgb(0, 0, 0, 0);
  padding: 0px 0px 4px 0px;
  border-style: none;
  border-width: 0px;
  text-align: left;
  color: white;
  font-size: 13.33px;
  padding-bottom: 4px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.rotten,
.rotten4 {
  text-align: left;
  list-style: none;
  font-size: 12px;
  width: 221px;
  height: 40px;
  margin: 0;
  padding: 0;
}
.rotten1 {
  width: 72px;
  height: 100px;
  padding: 0px 8px;
  list-style: none;
}

.rot,
.rot1 {
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
}
.rota {
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
}
.rotb {
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
}
.rotc {
  padding-bottom: 4px;
  font-size: 12px;
  color: white;
  text-decoration-line: none;
}
.rotz {
  display: none;
}
.spite1 {
  font-size: 12px;
  width: 231;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;

  padding-bottom: 16px;
}

.country {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0px 8px;
  list-style: none;
  text-align: left;
  font-size: 12px;

  width: 221px;
  height: 40px;
}
.row-it {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 8px 0px;
}

.row-ct {
  margin-left: 31px;
  margin-right: 31px;
  display: flex;

  flex-direction: row;
  padding-bottom: 24px;
}
.join {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 16px;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: white;
}
.doc {
  padding: 8px;
}

.cold {
  font-size: 0px;
}
.tap {
  height: 26px;
}
.tap:hover {
  fill: #f68b1e;
}
.row-dt {
  margin-left: 31px;
  margin-right: 31px;
  margin-top: 30px;
  padding-top: 15px;
  height: 40px;
}
.line {
  color: white;
  margin-left: 8px;
  margin-right: 8px;
}
.tip {
  display: flex;
  justify-content: center;
}
.tcp {
  height: 20px;
}
.contd {
  font-size: 16px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.cover {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
}
.contents {
  width: 100%;
  max-width: 1170px;
  margin-top: 65px;
}
.about-us {
  font-size: 34px;
  color: #f90;
  font-weight: 400;
  text-align: center;
  margin: 0 0 8.5px;
}
.menu-title {
  font-size: 16px;
  color: #f49719;
  margin: 0 2%;
  text-decoration: none;
}
.seperator {
  border-left: thin solid #e0e0e0;
  margin: 0 2%;
}
.t-line {
  width: 100%;
  max-width: 1168px;
  height: 2px;
  background-color: #f49719;
}
.locate {
  max-width: 100%;
}
.clear {
  clear: both;
}
.aboutustwo {
  background: url(images/aboutustwo-removebg-preview.png) no-repeat 0px 0px;

  width: 960px;
  height: 90px;
  color: #000;
}
.sub-title1 {
  margin-top: 95px;
  margin-left: 0%;
  float: left;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-weight: 500;
}
.sub-title2 {
  margin-top: 95px;
  margin-left: 16.5%;
  float: left;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-weight: 500;
}
.sub-title3 {
  margin-top: 95px;
  margin-left: 17.1%;
  float: left;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-weight: 500;
}
.sub-title4 {
  margin-top: 95px;
  margin-left: 11.3%;
  float: left;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-weight: 500;
}
.sb-head {
  position: absolute;
  color: white;
  font-weight: 400;
  margin: 0 0 8.5px;
  left: 64%;
  top: 40%;
}
.sb-text {
  font-size: 12px;
  font-weight: 400;
  padding: 0 30px;
  line-height: 20px;
  text-align: center;
}
.txt1 {
  position: absolute;
  top: 53%;
  left: 50%;
  color: white;
}

.grey-cover {
  border: 1px solid #efefef;
  border-radius: 2px;
  background-color: #f8f8f8;
  padding-top: 45px;
  margin-top: -45px;
  box-shadow: 0px 1px 17px 0px rgba(224, 224, 224, 1);
}
.grey-coverm {
  display: none;
}
.sb-title1 {
  font-size: 18px;
  font-weight: 400;
  color: #f90;
  margin: 0 0 8.5px;
  text-align: center;
}
.sm-text {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 0 30px;
  margin: 0 0 8.5px;
}
.first-bg {
  background: url(images/aboutusfour.png) no-repeat 0px 0px;
  width: 940px;
  height: 150px;
  color: #000;
  max-width: 100%;
}
.second-bg {
  background: url(images/aboutusfive.png) no-repeat 0px 0px;
  width: 940px;
  height: 150px;
  color: #000;
}
.text1 {
  margin-top: 6.5%;
  margin-left: 4%;
  float: left;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.text2 {
  margin-top: 5%;
  margin-left: 20.5%;
  float: left;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.text3 {
  margin-top: 4%;
  margin-left: 18.9%;
  float: left;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.text4 {
  margin-top: 6.5%;
  margin-left: 16%;
  float: left;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.text5 {
  margin-top: 40px;
  margin-left: 0px;
  float: left;
  text-align: center;
  margin-bottom: 8.5px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.text6 {
  margin-top: 40px;
  margin-left: 13%;
  float: left;
  text-align: center;
  margin-bottom: 8.5px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.text7 {
  margin-top: 40px;
  margin-left: 13%;
  float: left;
  text-align: center;
  margin-bottom: 8.5px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.text8 {
  margin-top: 40px;
  margin-left: 10%;
  float: left;
  text-align: center;
  margin-bottom: 8.5px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.dot1 {
  margin-top: 6%;
  margin-left: 1%;
  float: left;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.dot2 {
  margin: 5.5%;
  margin-left: 17%;
  float: left;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.dot3 {
  margin-top: 5.5%;
  margin-left: 11%;
  float: left;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.dot4 {
  margin-top: 6%;
  margin-left: 17.3%;
  float: left;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.dot5 {
  margin-top: 40px;
  margin-left: 1.5%;
  float: left;
  text-align: center;
  margin-bottom: 8.5px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.dot6 {
  margin-top: 40px;
  margin-left: 15%;
  float: left;
  text-align: center;
  margin-bottom: 8.5px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.dot7 {
  margin-top: 40px;
  margin-left: 12%;
  float: left;
  text-align: center;
  margin-bottom: 8.5px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.dot8 {
  margin-top: 40px;
  margin-left: 14%;
  float: left;
  text-align: center;
  margin-bottom: 8.5px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
}
.grid1 {
  width: 50%;
  float: left;
}
.sb-grid {
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  padding: 0 9%;
  text-align: left;
  list-style-type: disc;
}
.grid2 {
  width: 33%;
  float: left;
}
.grid3 {
  float: left;
  padding: 0 10%;
  height: 213px;
  max-width: 100%;
}
.txtct {
  text-align: center;
  margin: 0 0 8.5px;
  font-size: 12px;
  line-height: 1.4;
}
.btn0,
.btn1 {
  color: white;
  background-color: #f68c1e;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 2px;
  text-decoration: none;
  text-align: center;
}
.mview1,
.m-row1,
.mv-row2,
.mv-text,
.grid4,
.grid5,
.grid6,
.sb-headm,
.xxl-rowm {
  display: none;
}
.xxl-row1 {
  text-align: center;
}
.whole-page {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-content {
  width: 480px;
  max-width: 100%;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.top-bar {
  padding: 8px;
}
.amg-center {
  text-align: center;
}
.amg {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.sub-amg {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 8px 0 16px;
}
.logo1 {
  height: 64px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.mycontext {
  flex: 1;
  padding: 8px 24px;
  position: relative;
}
.mycontext1 {
  width: 100%;
  padding: 8px 24px;
  position: relative;
}
.keyholders1 {
  padding-top: 16px;
}
.keyholders-phone {
  padding-top: 16px;
  display: flex;
  width: 100%;
}
.roundx {
  width: 90px;
  display: inline-flex;
  position: relative;
}
.roundst {
  height: 58px;
  padding: 16px 12px;
  margin: 8px 0px;
  max-width: 90%;
  width: 90%;
  position: absolute;
}
.roundbt {
  width: 100%;
}
.xxy {
  display: flex;
  padding: 0px 16px;
}
.ope {
  display: flex;
}
.legal {
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  position: relative;
  margin-top: 4px;
}
.autoaccept {
  text-decoration: none;
  color: #f68c1e;
}
.autocheck {
  margin: 3px 3px 3px 4px;
}
.mydetails {
  margin-top: 16px;
}
.myorders {
  width: 100%;
  height: 51px;
  background-color: rgb(246, 139, 30);
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.myorders:hover {
  background-color: #e07e1b;
  transition: 0.2s;
}
.myorder {
  width: 100%;
  height: 51px;
  background-color: grey;
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.myorder1 {
  width: 100%;
  height: 51px;
  background-color: rgb(246, 139, 30);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.myorder1:hover {
  background-color: #e07e1b;
  transition: 0.2s;
}
.disclaimer {
  font-size: 12px;
  padding-top: 16px;
  line-height: 16px;
  text-align: center;
}
.mindtalk {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  max-width: 324px;
}
.plcemnt {
  flex: 1;
  margin: 0 6px;
}
.eyeicon {
  position: absolute;
  right: 10px;
  top: 30%;
  height: 20px;
  cursor: pointer;
}
.tandc {
  text-decoration-line: underline;
  text-decoration-color: #e07e1b;
  color: #e07e1b;
}
.facebook {
  position: relative;
}
.fbsocial {
  position: absolute;
  top: 13px;
  left: 20px;
}
.socials {
  background-color: #1877f2;
  width: 100%;
  height: 51px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.socials:hover {
  background-color: #155fc0;
  transition: 0.2s;
}
.footer-text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 0 24px;
}
.footer-text1 {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  padding: 8px 24px;
}
.footer-logo {
  padding: 32px 0;
  text-align: center;
  width: 100%;
}
.footer-img {
  height: 16px;
}
.round {
  position: relative;
}
.password-toogle-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}
.family {
  padding: 8px 0px;
}
.outter-space {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1184px;
  width: 100%;
}
.cond {
  margin-left: 8px;
  margin-right: 8px;
}
.arrow {
  text-decoration: none;
  color: rgb(49, 49, 51);
  font-size: 12px;
}
.dimensions {
  padding: 8px 8px 16px 8px;
  min-width: 100%;
  max-width: 100%;
  flex-basis: 100%;
  width: 100%;
  font-size: 12px;
}
.outter-card {
  min-width: 75%;
  max-width: 75%;
  width: 75%;
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
}
.row-card {
  display: flex;
  max-width: 1184px;
  padding: 8px;

  flex-grow: 1;
  flex-wrap: wrap;
  flex-shrink: 1;
  background-color: rgb(255, 255, 255);
  color: rgb(49, 49, 51);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}
.tnt {
  width: 37.5%;
  min-width: 37.5%;
  max-width: 37.5%;
  padding: 4px 8px;
}
.atnt {
  padding-top: 4px;
  padding-bottom: 8px;
}
.imgdiv {
  padding-top: 100%;
  margin-bottom: 8px;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
  position: relative;
}
.pd-img {
  cursor: zoom-in;
}
.slide {
  position: absolute;
  margin: 0;
  overflow: visible;
}
.dont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: auto;
}

.btnt {
  display: flex;
  margin-bottom: 8px;
  position: relative;
}
.scroll {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.img-pd {
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  flex-shrink: 0;
  scroll-snap-align: start;
  height: 40px;
  width: 48px;
}
.fitx {
  width: 100%;
  border: 1px solid #f68b1e;
}
.fity {
  width: 100%;
  border-radius: 2px;
}
.left {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  right: 297px;

  border: none;
  background-color: rgb(0, 0, 0, 0);
}
.right {
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 290px;
  background-color: rgb(0, 0, 0, 0);
}
.tnt2 {
  padding: 8px 0px;
  position: relative;
}
.rule {
  height: 1px;
  color: rgb(49, 49, 51);
}
.ctnt {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 8px;
}
.dtnt {
  display: flex;
  padding: 8px 0px;
}
.link {
  padding: 2px 4px;
  width: 25.3px;
  height: 25.3px;
  border-radius: 99px;
  border: 1px solid #313133;
  color: #ffffff;
  background-color: rgb(0, 0, 0, 0);
}
.link1 {
  padding: 2px 4px;
  width: 25.3px;
  height: 25.3px;
  margin-left: 8px;
  border-radius: 99px;
  border: 1px solid #313133;
  color: #ffffff;
  background-color: rgb(0, 0, 0, 0);
}

.social {
  height: 16px;
  vertical-align: baseline;
}
.cnn {
  width: 62.5%;
  max-width: 62.5%;
  min-width: 62.5%;
  padding-left: 0;
  padding-right: 0;
}
.cnna {
  display: flex;
  justify-content: space-between;
}
.inn-cnn {
  padding-left: 8px;
  padding-right: 24px;
}
.hd {
  display: flex;
  padding-top: 8px;
}
.trade {
  background-color: #276076;
  padding: 0px 4px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-right: 8px;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
}
.trade1 {
  background-color: #ff0000;
  padding: 0px 4px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  border-radius: 2px;
  font-size: 14px;
}
.brnd {
  font-size: 19px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 4px;
  margin: 0;
}
.likebtn {
  display: flex;
  margin: 8px;
  padding: 0;
  border: none;
  background-color: rgb(0, 0, 0, 0);
}
.likebn:focus {
  border: 0px none #fcdbb9;

  transition: 0.2s;
}
.cnnb {
  padding: 0px 8px;
}
.ctn1 {
  padding: 4px 0px;
  font-size: 14px;
  font-weight: 400;
}
.extra {
  color: #264996;
  text-decoration: none;
  margin-right: 4px;
}
.extra1 {
  margin-left: 4px;
  color: #264996;
  text-decoration: none;
}
.ctn2 {
  margin-top: 4px;
  padding: 8px 0px;
  position: relative;
}
.rule1 {
  height: 1px;
  color: rgb(49, 49, 51);
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.bbo {
  padding: 4px 8px;
  background-color: #e61601;
  color: #ffffff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.bbo1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bob {
  display: flex;
  align-items: center;
}
.flash {
  height: 16px;
}
.sales {
  padding: 0px 8px;
  font-size: 14px;
}
.bob1 {
  font-size: 14px;
  font-weight: 400;
}
.c-down {
  font-weight: 500;
}
.brb {
  padding: 8px;
  border: 1px solid #e61601;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.price-tag {
  font-size: 24px;
  font-weight: 700;
  padding-right: 4px;
}
.beep {
  display: inline-flex;
}
.bop1 {
  font-size: 16px;
  text-decoration: line-through;
  text-decoration-style: solid;
  color: rgbrgb(117, 117, 122);
}
.bop2 {
  margin-left: 8px;
  padding: 0px 4px;
  color: rgb(246, 139, 30);
  align-items: center;
  background-color: rgb(254, 243, 233);
}
.beep1 {
  display: flex;
  padding-top: 8px;
}
.bop3 {
  font-size: 12px;
}
.ctn3 {
  padding-bottom: 8px;
  font-size: 12px;
  font-style: normal;
}
.ptag {
  font-weight: 500;
  margin: 0px 4px;
}
.ctn4 {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.obc {
  font-size: 12px;
  text-decoration: none;
  color: #264996;
  padding-left: 4px;
}
.hbc {
  position: relative;
  display: inline-block;
  font-size: 20px;

  line-height: 1;
}
.hbc::before {
  content: "★★★★★"; /* Empty star layer */
  display: block;
  color: #ccc;
}
.in {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 0; /* Controlled dynamically */
  height: 100%;
}
.in::before {
  content: "★★★★★"; /* Filled stars */
  color: gold; /* Gold color for filled stars */
  display: block;
  line-height: 1;
}
.cnnc {
  padding: 0px 4px;
}
.tbc {
  padding: 8px 4px;
}
.outcb {
  display: flex;
  align-items: center;
}
.tcb {
  width: 100%;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  background-color: #f68b1e;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
}
.tcb:hover {
  background-color: #cd731a;
  transition: 0.2s;
}
.cbt {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 auto;
  padding-right: 24px;
}
.crt {
  height: 24px;
}
.cnnd {
  padding: 8px 8px 0px 8px;
  margin: 0;
}
.rule12 {
  height: 1px;
  margin: 0;
}
.nbc {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 8px 0px;
}
.jbc {
  padding: 4px 0px;
}
.jbl {
  padding: 4px 0px;
  text-decoration: none;
  font-size: 14px;
  color: #264996;
  display: flex;
  align-items: center;
}
.logs {
  height: 24px;
  margin-right: 8px;
}
.jetro {
  margin-top: auto;
  padding: 8px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  flex-basis: auto;
}
._more {
  font-size: 14px;
  text-decoration: none;
  color: #264996;
}
.side-card {
  padding: 0px 8px;
  width: 25%;
  min-width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}
.outcard {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 8px;
  border-radius: 4px;
}
.outcard1 {
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.pts {
  padding-top: 8px;
}
.tiso {
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
}
.ciso {
  position: relative;
}
.rule13 {
  height: 1px;
  color: rgb(49, 49, 51);
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.tisio {
  padding: 8px;
}
.tisk {
  display: flex;
  flex-direction: column;
}
.sisk {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}
.myexpress {
  width: 114px;
  height: 12px;
}
.simp {
  font-size: 12px;
  margin: 0;
}
.din {
  border: none;
  background-color: rgb(0, 0, 0, 0);
  color: #264996;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.din1 {
  border: none;
  background-color: rgb(0, 0, 0, 0);
  color: #264996;
  font-size: 12px;
  margin-left: auto;
  padding: 0;

  align-self: flex-start;
}
.dinx {
  text-decoration: none;
  color: #264996;
  margin-left: 4px;
  padding: 0;
}
.cad2 {
  padding: 4px 0px;
}
.tiso1 {
  padding: 4px 8px 0px 8px;
  font-size: 14px;
  font-weight: 500;
}
.dtx {
  padding: 8px 8px 4px 8px;
}
.fiwner {
  display: flex;
  flex-direction: column;
  padding: 8px 0px;
  min-height: auto;
}
.sel {
  appearance: none;
  --ac: #75757a;
  border: 1px solid #a3a3a6;
  background: linear-gradient(45deg, transparent 40%, var(--ac) 50%) no-repeat
      top 21px right 30px / 6px 5px,
    linear-gradient(135deg, var(--ac) 50%, transparent 60%) no-repeat top 21px
      right 25px / 6px 5px;
  padding-left: 16px;
  height: 48px;
  padding-right: 40px;
  border-radius: 4px;
}
.pr {
  position: relative;
}
.dfpr {
  padding: 4px 8px;
  display: flex;
}
.xim {
  width: 30px;
  height: 30px;
  border: 1px solid #d4d4d6;
  border-radius: 4px;
  margin-right: 8px;
  padding: 4px;
}
.dpr {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}
.rpd {
  display: flex;
  width: 100%;
}
.xpd {
  font-size: 14px;
  font-weight: 500;
  padding-right: 8px;
  margin: 0;
}
.mxp {
  padding-top: 4px;
  font-size: 12px;
}
.ptag1 {
  font-weight: 500;
  margin: 0px 1px;
  font-style: normal;
}
.cad3 {
  padding: 8px;
  display: flex;
  position: relative;
}
.xmi {
  display: flex;
  flex-direction: column;
}
.xpdb {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
.xmis {
  font-size: 12px;
  padding-top: 4px;
}
.rjd {
  padding: 8px;
  display: flex;
  text-decoration: none;
  color: black;
}
.slr {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.slrx {
  margin-left: auto;
  height: 24px;
}
.hr-pas {
  padding: 8px;
  position: relative;
}
.t-pas {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 8px;
  margin: 0;
}
.j-bet {
  display: flex;
  padding: 0;
  align-content: center;
  justify-content: space-between;
}
.df-bet {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 8px;
}
.sm-bet {
  font-weight: 500;
  padding-right: 4px;
}
.ovr {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.-mm {
  font-weight: 500;
  margin-right: 4px;
}
.frm {
  align-self: flex-end;
  flex-shrink: 0;
  font-size: 12px;
}
.rdbt {
  background-color: #f68b1e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  line-height: 16px;
  position: relative;
}
.cls {
  font-size: 12px;
  font-weight: 500;
}
.sl-cls {
  box-shadow: 0 0 0 1px #f68b1e;
  background-color: transparent;
  padding: 8px 16px;
  color: #f68b1e;
  border: none;
  border-radius: 4px;
  line-height: 16px;
}
.lr-pas {
  border-top: 1px solid #f1f1f2;
  padding: 8px;
}
.tr-pas {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.i-pas {
  background-color: transparent;
  margin-left: 4px;
  border: none;
  padding: 0px 4px;
  margin: 0;
}
.mg-pas {
  height: 20px;
  margin: 2px;
}
.i-das {
  display: flex;
  padding-top: 8px;
  align-items: center;
}
.midas {
  display: flex;
  background-color: #6dbd28;
  margin-right: 8px;
  border-radius: 50%;
  align-items: center;
}
.gstar {
  height: 12px;
  margin: 2px;
}
.clx {
  font-size: 12px;
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  /* .sb-head {
    left: 64%;
    top: 40%;
    font-size: 20px;
    line-height: 24px;
  }
  .txt1 {
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
  } */
}

@media (max-width: 1199px) {
  .cards {
    display: none;
  }
  .outter-space {
    max-width: 950px;
  }
  .sb-head {
    left: 64%;
    top: 40%;
    font-size: 20px;
    line-height: 24px;
  }
  .cover {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
  }
  .outter {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
  }
  .outter1 {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
  }

  .ptd {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .inner {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
  }
  .inner1 {
    display: flex;
    width: 100%;
    flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .first {
    flex-shrink: 0;
    display: flex;
    width: 206px;
    height: 384px;
  }
  .xxl {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
    padding: 8px;
  }
  .xxl-row1,
  .xxl-row2,
  .xxl-row3,
  .xxl-row4,
  .xxl-row5,
  .xxl-row6,
  .xxl-rowi {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
  .xxl1,
  .xxl2 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-basis: 100%;
    padding: 8px;
  }
  .xxl4 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-basis: 100%;
    padding: 8px;
  }
}
@media (min-width: 431px) and (max-width: 950px) {
  .pbm {
    width: 100%;
    max-width: 100%;
    height: 180px;
    padding-bottom: 8px;
  }
  .pacont {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .sb-headm {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    color: #f90;
    font-weight: 500;
    margin: 12px 0;
  }
  .viewimg {
    width: 100%;
  }
  .m-row1 {
    display: block;
    float: left;
    width: 50%;
  }
  .xxl-rowm {
    display: block;
  }
  .m-text {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin: 12px 0;
    padding: 0 5px;
    text-align: center;
  }
  .mv-row2 {
    display: block;
    float: left;
    width: 50%;
  }
  .grey-coverm {
    display: block;
    border: 1px solid #efefef;
    border-radius: 2px;
    background-color: #f8f8f8;
    padding-top: 45px;
    margin-top: -45px;
    box-shadow: 0px 1px 17px 0px rgba(224, 224, 224, 1);
  }
  .mv-text {
    display: block;
  }
  .grid4,
  .grid5,
  .grid6 {
    display: block;
  }
  .xxl-row1 {
    display: none;
  }
  .locate,
  .sb-head,
  .sb-text,
  .xxl-row2,
  .sm-text,
  .first-bg,
  .second-bg,
  .btn1,
  .grid2,
  .xxl-row3 {
    display: none;
  }
  .ptd {
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
  }
  .mview1 {
    display: block;
    float: left;
    position: relative;
  }
  .search-icon {
    right: 98px;
  }
  .space {
    display: none;
  }
  .c6 {
    top: -9px;
    height: 24px;
    left: -37px;
  }
  .cc2 {
    height: 40px;
    width: 0;
  }
  .cc3 {
    max-width: 100px;
  }
  .contd {
    display: none;
  }
  .option {
    display: none;
  }
  .cc9 {
    display: none;
  }
  .outter {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
  }
  .bgcolor {
    width: 100%;
    max-width: 100%;
    height: 15px;
    margin: 0;
    position: relative;
  }
  .row-ct,
  .row-pt {
    display: none;
  }
  .first {
    display: none;
  }
  .display {
    margin: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
  .xyz {
    width: 100%;
    max-width: 100%;
  }
  .jfk {
    width: 100%;
    max-width: 100%;
  }
  .row-bt {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 135px;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  .row-dt {
    margin-top: 75px;
  }
  .cols-1p,
  .cols-1z,
  .rot1,
  .join {
    display: none;
  }
  .cols-1k {
    font-size: 0.75rem;
    height: 70px;
    width: 170px;
  }
  .rotten4,
  .spite1,
  .spite {
    display: none;
  }
  .cols-1 {
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
  }
  .rotten {
    max-width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  .fog {
    font-size: 16px;
  }
  .ffs {
    font-size: 14px;
  }
  .smntxl {
    padding: 8px 0px;
    height: 85vh;
  }
  .godlt {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: 60px;
  }
  .ntxl,
  .godl {
    display: none;
  }
  .hxlt {
    padding-bottom: 16px;
    margin: 0;
    text-align: center;
  }
  .hsxlt {
    text-align: center;
    font-size: 16px;
    padding: 8px 0px;
    margin: 0;
  }
  .htxlt {
    text-align: center;
    line-height: 21px;
    font-size: 14px;
    margin: 0;
  }
}

@media (max-width: 430px) {
  .cards {
    display: none;
  }
  .mv-text {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }
  .xxl-rowm {
    display: block;
  }
  .grid4 {
    display: block;
    text-align: center;
  }
  .grid5 {
    max-width: 260px;
  }
  .grid6 {
    text-align: center;
    margin: 12px 0;
  }
  .mv-row2 {
    display: block;
    float: left;
    width: 50%;
  }
  .mview1 {
    display: block;
    position: relative;
  }
  .mv-text {
    display: block;
  }
  .m-row1 {
    display: block;
    float: left;
    width: 50%;
  }
  .grid5,
  .grid6,
  .grid4 {
    display: block;
  }
  .viewimg {
    max-width: 100%;
  }
  .xxl-row1,
  .locate,
  .sb-text,
  .xxl-row2,
  .sm-text,
  .first-bg,
  .second-bg,
  .btn1,
  .sb-head,
  .grid2,
  .xxl-row3 {
    display: none;
  }
  .grey-coverm {
    display: block;
    border: 1px solid #efefef;
    border-radius: 2px;
    background-color: #f8f8f8;
    padding-top: 45px;
    margin-top: -45px;
    box-shadow: 0px 1px 17px 0px rgba(224, 224, 224, 1);
  }
  .sb-headm {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    color: #f90;
    font-weight: 500;
    margin: 12px 0;
  }
  .m-text {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin: 12px 0;
    padding: 0 5px;
    text-align: center;
  }
  .ptd {
    width: 100%;
    max-width: 100%;
    height: 72px;
    display: flex;
    margin: 0;
    justify-content: space-between;
  }
  .ff2 {
    height: 24px;
    margin: 4px;
    padding: 4px;
  }
  .space {
    display: none;
  }
  .option {
    display: none;
  }
  .contd {
    display: none;
  }
  .c6 {
    top: -9px;
    height: 24px;
    left: -42px;
  }

  .search-icon {
    right: 87px;
  }
  .cc9 {
    display: none;
  }

  .cc1 {
    width: 184px;
  }
  .cc2 {
    width: 0;
    height: 40px;
  }
  .cc3 {
    width: 100px;
  }

  .inner {
    padding: 8px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    flex-basis: 100%;
  }
  .outter {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
  }
  .first {
    display: none;
  }
  .downward {
    width: 100%;
    max-width: 100%;
    height: 145px;
    display: flex;
  }
  .display {
    width: 100%;
    max-width: 100%;
    height: 156px;
    margin: 0;
  }
  .jfk {
    width: 100%;
    max-width: 100%;
    height: 156px;
  }

  .xyz {
    width: 100%;
    max-width: 100%;
    height: 156px;
  }
  .xxl {
    max-width: 100%;
    min-width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
  }
  .xxl1,
  .xxl2 {
    max-width: 100%;
    min-width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
  }
  .xxl4 {
    max-width: 100%;
    min-width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 0;
    padding-right: 0;
  }
  .cardth1 {
    width: 100%;
    max-width: 100%;
    height: 145px;
  }
  .cardth {
    width: 100%;
    max-width: 100%;
    height: 145px;
  }
  .cardoh {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .donb5 {
    width: 100%;
    max-width: 100%;
    height: 100px;
    margin: 0;
    padding: 4px;
  }

  .donb2 {
    width: 100%;
    max-width: 100%;

    height: 125px;
    padding: 4px;
  }
  .imglock {
    width: 100%;
    max-width: 100%;

    height: 82px;
  }

  .imglock1 {
    width: 100%;
    max-width: 100%;

    height: 82px;
  }
  .lockd {
    width: 100%;
    max-width: 100%;

    height: 127px;
  }
  .lockd1 {
    width: 100%;
    max-width: 100%;
    height: 127px;
  }
  .subtext {
    width: 77px;
    height: 30px;
    font-size: 12px;
    margin: 4px;
    text-align: center;
  }
  .disect {
    width: 100%;
    max-width: 100%;
    height: 44px;
    padding: 0px 4px;
  }
  .disect1 {
    width: 100%;
    max-width: 100%;
    height: 34px;
    padding: 0px 8px;
  }
  .bisect {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
  }
  .eject {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
  }
  .onward {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .iimg {
    width: 100%;
    max-width: 100%;
    height: 85px;
  }
  .tfu {
    width: 100%;
    max-width: 100%;

    height: 140px;
    padding: 0;
  }
  .dond {
    width: 120px;
    height: 140px;
    margin: 0;
  }
  .cardoh {
    width: 100%;
    max-width: 100%;

    height: auto;
  }

  .testing {
    width: 110px;
    height: 20px;
  }
  .size {
    font-size: 14px;
  }
  .flashsale {
    height: 22px;
    margin: 0;
  }
  .fog {
    font-size: 12px;
  }
  .ffs {
    font-size: 11px;
  }
  .yog {
    width: 170px;
    height: 20px;
    display: flex;
    margin-right: 4px;
    justify-content: center;
  }
  .yoga {
    width: 70px;
    height: 20px;
    display: flex;
    align-items: center;
  }
  .iimg {
    width: 82px;
    height: 82px;
  }
  .cdtxt {
    font-size: 8px;
    margin-top: 4px;
  }
  .cdamt {
    font-size: 10px;
  }
  .cdnt {
    font-size: 9px;
    margin-bottom: 8px;
  }
  .nft,
  .nft2,
  .nft3 {
    display: none;
  }
  .pbm {
    width: 100%;
    max-width: 100%;
    height: 156px;

    padding-bottom: 8px;
  }
  .bgcolor {
    width: 100%;
    max-width: 100%;
    height: 10px;
    margin: 0;
    position: relative;
  }
  .row-bt {
    width: 310px;
    height: 28px;
    position: absolute;
    left: 30px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 18px;
    margin-right: 18px;
  }
  .row-dt {
    width: 100%;
    max-width: 100%;
    height: 10px;
    margin: 0;
  }
  .tip {
    width: 100%;
    max-width: 100%;
    height: 16px;
  }
  .tcp {
    margin-top: -10px;
  }
  .line {
    margin-top: 80px;
  }

  .cols-1 {
    width: 120px;
    height: 80px;
    display: flex;
    text-align: start;
    padding: 0;
  }
  .cols-1k {
    width: 120px;
    height: 80px;
    padding: 0;
  }
  .row-ct,
  .row-pt {
    display: none;
  }
  .cold,
  .spite,
  .join,
  .spite1 {
    display: none;
  }
  .cols-1p,
  .cols-1z,
  .rotten4,
  .rot1 {
    display: none;
  }
  .rotten {
    font-size: 12px;
    width: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  .just1 {
    font-size: 12px;
  }
  .godlt {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: 60px;
  }
  .godl {
    display: none;
  }
  .smntxl {
    padding: 8px 0px;
    height: 85vh;
  }
  .hxlt {
    padding-bottom: 16px;
    margin: 0;
    text-align: center;
  }
  .hsxlt {
    text-align: center;
    font-size: 16px;
    padding: 8px 0px;
    margin: 0;
  }
  .htxlt {
    text-align: center;
    line-height: 21px;
    font-size: 14px;
    margin: 0;
  }
}
